body{
    background-color:#6172a0;
    color:#fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:16px;
}
div{
    display:flex;
    align-items:center;
    flex-direction:column;
    gap: 15px;
}

h1{
    color:rgb(0, 0, 0);
    font-size:50px;
}
.opcion{
    display:block;
    text-align:center;
    text-decoration: none;
    width:350px;
    height:60px;
    border-radius:10px;
    line-height:60px;
    font-size:25px;
    color:rgba(0, 0, 0, 0.749);
    font-weight:bold;
    background-image: linear-gradient(to right top,rgb(93, 87, 86),rgb(47, 63, 109), #373737, #ffffff,rgb(0, 0, 0));
    cursor: pointer;
    transition: .5s ease-in-out;
}
.opcion:hover{
    height:70px;
    line-height:70px;
    background-image: linear-gradient(to right top, #876f16, #ffffff, #d17d00,red, #ffffff, #fbfbfb);
    
}


